---
version: "2.1"
services:
  plex:
    image: ghcr.io/linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID=100 
      - PGID=100 
      - VERSION=docker
      - TZ=Europe/Zurich
      - PLEX_CLAIM= #optional
    volumes:
      - /volume1/docker/plex:/config
      - /volume1/plex-library/tv:/tv
      - /volume1/plex-library/anime:/anime
      - /volume1/plex-library/movies:/movies
    ports:
      - 32400:32400
    devices:
       - /dev/dri:/dev/dri # For H/W transcoding
    restart: unless-stopped